<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>




    <h1>Carros Exóticos</h1>'
    <h3>🏁 El nacimiento de los vehículos</h3>'
    <p>El origen de los vehículos se remonta al siglo XIX, cuando el ser humano buscaba nuevas formas de transporte más
        rápidas y cómodas que los carruajes tirados por caballos. El primer paso fue la invención del motor de
        combustión interna, que permitió transformar la energía del combustible en movimiento.</p>'
    <p>En 1886, el alemán Karl Benz construyó el primer automóvil de la historia, llamado Benz Patent-Motorwagen. Este
        vehículo tenía tres ruedas y funcionaba con gasolina. Poco después, inventores como Gottlieb Daimler y Henry
        Ford mejoraron el diseño, incorporando motores más potentes y sistemas de producción en masa, lo que hizo que
        los autos fueran más accesibles para la población.</p>'
    <p>A lo largo del siglo XX, los automóviles evolucionaron rápidamente, volviéndose más veloces, seguros y
        cómodos,los vehículos evolucionaron para incluir características como la dirección asistida, los frenos
        hidráulicos y la suspensión independiente, mejorando la seguridad y el confort. Hoy en día, los autos no solo
        son medios de transporte, sino también símbolos de estatus y estilo de vida, con diseños innovadores y
        tecnologías avanzadas como la electrificación y la conducción autónoma.</p>'
    <p>Surgieron marcas legendarias como Ford, Chevrolet, Mercedes-Benz, Volkswagen y Rolls-Royce, que dejaron una
        huella importante en la historia del transporte. Los vehículos antiguos no solo representan un medio de
        transporte, sino también una obra de ingeniería y arte que marcó el inicio de la modernidad.</p>'
    return mensaje












    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>