<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>plantlla base</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid bg-success-subtle text-center ">
      {% block titulo %}<h1>BIENVENIDOS A NUESTRA PAGINA</h1>{% endblock  %}
    </div>
  
      {% block subtitulo %}<p class="text-center">Descubre mas sobre temas de interes</p>{% endblock  %}
     
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand text-danger-subtle" href="#">MENU</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/vehiculos.html">vehiculos exoticos</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/animales.html">animales exoticos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/maravillas">7 maravillas del mundo</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/acercas">acerca de...</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/for2">inicia sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">cierre de seccion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/formulario">registro</a>
        </li>
      </ul>
    </div>
</nav>

<section>
      {% block contenido%}
      {% endblock %}
    </section>  
  {% block pie %}
<footer class="text-center bg-warning-subtle mx-auto"><p>Derechos reservados © 2024</p></footer>
{% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

   