<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>plantlla base</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="text-center bg-warning-subtle mx-auto">
      {% block titulo %} BIENVENIDOS A NUESTRA PAGINA {% endblock  %}
    </h1>
    <p class="text-center">Descubre mas sobre temas de interes</p>
    <div class="dropdown text-center mx-auto mb-3">
      <a
        class="btn btn-warning dropdown-toggle"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        MENÚ
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">Inicio</a></li>
        <li><a class="dropdown-item" href="/animales.html">Animales exóticos</a></li>
        <li><a class="dropdown-item" href="/vehiculos.html">Vehículos antiguos</a></li>
        <li><a class="dropdown-item" href="/maravillas">Las maravillas del mundo</a></li>
        <li><a class="dropdown-item" href="/acercas.html">ACERCA DE...</a></li>
        <li><a class="dropdown-item" href="/formulario.html">formulario</a></li>
      </ul>
    </div>
    <section>
      {% block contenido%}
      {% endblock %}
    </section>  
<footer class="text-center bg-warning-subtle mx-auto">
        <p>Derechos reservados © 2024</p>
</footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
