{% extends "base.html"%}
{% block contenido %}
{% block titulo %} <h1>INICIA SESIÓN</h1> {% endblock %}
{% block subtitulo %}{% endblock %}
 <form action="/base" method="POST">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email </label>
        <input type="email"required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">contraseña</label>
        <input type="password" required class="form-control" id="exampleInputPassword1"  minlength="8"  maxlength="20" pattern="[a-zA-Z._-]{8,}" title="debe contener al menos 8 caracteres,minusculas,mayusculas,puntos.">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" required class="form-check-input" id="exampleCheck1"  name="exampleCheck1" >
        <label class="form-check-label" for="exampleCheck1">confirmar</label>
    </div>
        <button type="submit" class="btn btn-primary">INGRESAR</button>
</form>


{% endblock %}mmmm