{% extends "base.html"%}
{% block titulo %}<h1 class="text-center">NUEVO REGISTRO</h1>{% endblock %}
{% block subtitulo %}{% endblock %}
{% block contenido %}

<main class="container d-flex justify-content-center align-items-center rounded-4">
    <h5 class="text-center"></h5>
    <section class="row card shadow p-4 rounded-4 m-4 bg-success-subtle">
        <form  method= "POST" action="/">
            <div class=" row  px-3 pb-3">
                <div class="col-6">
                    <label for="nombre" class="form-label"></label>
                    <input type="text" required class="form-control text-center" id="nombre" name="nombre" placeholder="NOMBRE" minlength="3" maxlength="20" pattern="^[a-zA-Z]+$">
                </div>

                <div class="col-6 ">
                    <label for="apeido" class="form-label"></label>
                    <input type="text" required class="form-control text-center" id="apeido" name="apeido" placeholder="APEIDO" minlength="3" maxlength="20" pattern="^[a-zA-Z]+$">
                </div>
            </div>
            <div class="row">

                <p class="col-12 p-2">Fecha de nacimiento⬤</p>
<div class="container col-2 px-2">
<label for="dia">Día:</label>
<select id="dia" name="dia">
    <option value="">Día</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>17</option>
    <option>18</option>
    <option>19</option>
    <option>20</option>
    <option>21</option>
    <option>22</option>
    <option>23</option>
    <option>24</option>
    <option>25</option>
    <option>26</option>
    <option>27</option>
    <option>28</option>
    <option>29</option>
    <option>30</option>
    <option>31</option>
  </select>
  </div>
  <div class="container col-2 px-2">
  <label for="mes">Mes:</label>
  <select id="mes" name="mes">
    <option value="">Mes</option>
    <option value="1">Enero</option>
    <option value="2">Febrero</option>
    <option value="3">Marzo</option>
    <option value="4">Abril</option>
    <option value="5">Mayo</option>
    <option value="6">Junio</option>
    <option value="7">Julio</option>
    <option value="8">Agosto</option>
    <option value="9">Septiembre</option>
    <option value="10">Octubre</option>
    <option value="11">Noviembre</option>
    <option value="12">Diciembre</option>
    </select>
    </div>
    <div class="container col-2 px-2">
    <label for="anio">Año:</label>
    <select id="anio" name="anio">
    <option value="">Año</option>
    <option> 1930</option>
    <option> 1931</option>
    <option> 1932</option>
    <option> 1933</option>
    <option> 1934</option>
    <option> 1935</option>
    <option> 1936</option>
    <option> 1937</option>
    <option> 1938</option>
    <option> 1939</option>
    <option> 1940</option>
    <option> 1941</option>
    <option> 1942</option>
    <option> 1943</option>
    <option> 1944</option>
    <option> 1945</option>
    <option> 1946</option>
    <option> 1947</option>
    <option> 1948</option>
    <option> 1949</option>
    <option> 1950</option>
    <option> 1951</option>
    <option> 1952</option>
    <option> 1953</option>
    <option> 1954</option>
    <option> 1955</option>
    <option> 1956</option>
    <option> 1957</option>
    <option> 1958</option>
    <option> 1959</option>
    <option> 1960</option>
    <option> 1961</option>
    <option> 1962</option>
    <option> 1963</option>
    <option> 1964</option>
    <option> 1965</option>
    <option> 1966</option>
    <option> 1967</option>
    <option> 1968</option>
    <option> 1969</option>
    <option> 1970</option>
    <option> 1971</option>
    <option> 1972</option>
    <option> 1973</option>
    <option> 1974</option>
    <option> 1975</option>
    <option> 1976</option>
    <option> 1977</option>
    <option> 1978</option>
    <option> 1979</option>
    <option> 1980</option>
    <option> 1981</option>
    <option> 1982</option>
    <option> 1983</option>
    <option> 1984</option>
    <option> 1985</option>
    <option> 1986</option>
    <option> 1987</option>
    <option>1988</option>
    <option>1989</option>
    <option>1990</option>
    <option>1991</option>
    <option>1992</option>
    <option>1993</option>
    <option>1994</option>
    <option>1995</option>
    <option>1996</option>
    <option>1997</option>
    <option>1998</option>
    <option>1999</option>
    <option>2000</option>
    <option>2001</option>
    <option>2002</option>
    <option>2003</option>
    <option>2004</option>
    <option>2005</option>
    <option>2006</option>
    <option>2007</option>
    <option>2008</option>
    <option>2009</option>
    <option>2010</option>
    <option>2011</option>
    <option>2012</option>
    <option>2013</option>
    <option>2014</option>
    <option>2015</option>
    <option>2016</option>
    <option>2017</option>
    <option>2018</option>
    <option>2019</option>
    <option>2020</option>
    <option>2021</option>
    <option>2022</option>
    <option>2023</option>
    <option>2024</option>
    <option>2025</option>
</select>
</div>
            <div class=" row d-flex justify-content-between gap-3 ">
                <p class="col-12 p-2">Genero⬤</p>
                <div class=" form-check border rounded p-3 col-2 bg-light flex-fill text-center  bg-light">
                    <label class="form-check-label " for="mujer">Mujer</label>
                    <input class="form-check-input float-end" type="radio"  value="{{request.form.get(mujer,'')}}" id="mujer"  name="genero"placeholder="Mujer">
                </div>

                <div class="form-check border rounded p-3 col-2 bg-light flex-fill text-center  bg-light">
                    <label class="form-check-label" for="hombre">Hombre</label>
                    <input class="form-check-input float-end" type="radio"  value="" id="hombre" name="genro" placeholder="Hombre">
                </div>

                <div class="form-check border rounded p-3 col-2 bg-light flex-fill text-center  bg-light">
                    <label class="form-check-label" for="personalizado">Personalizado</label>
                    <input class="form-check-input  float-end" type="radio"  value="" id="checkIndeterminate" name="genero"
                        placeholder="personalizado">
                </div>
            </div>

            <div class="row col-12 mb-2 px-3 pb-3">
                <label for="exampleInputEmail1" class="form-label"></label>
                <input type="emailHelp" required class="form-control text-center" id="exampleInputEmail1" name="exampleInputEmail1"
                    placeholder="Email" pattern=" [a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            </div>
            <div class="row col-12 mb-6 px-3 pb-3">
                <label for="exampleInputPassword1" class="form-label"></label>
                <input type="password" class="form-control text-center" id="exampleInputPassword1"   name="exampleInputPassword1" placeholder="Contraseña nueva"  pattern="[a-zA-Z._-]{8,}" title="debe contener al menos 8 caracteres,minusculas,mayusculas,puntos.">
            </div> 
            <p class="text-center">Al hacer clic en "Registrarte", aceptas nuestras Condiciones, la Política de privacidad y la
        Política de cookies. Es posible que te enviemos notificaciones por SMS, que puedes desactivar cuando quieras</p>
        
            <button type="submit" class="btn btn-primary rounded mx-auto d-block ">REGISTRARSE</button>
    <div class="text-center"><a class="text-center" href="/for2" class="card-link ">¿Ya tienes una cuenta?</a></div>
    <div class="container mt-4">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ 'danger' if category == 'error' else 'success' }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>



        </form>
    </section>
    

</main>

{% endblock %}