{% extends "base.html"%}

 {% block titulo %} <h1>BIENVENIDOS A NUESTRA PAGINA INICIAL</h1> {% endblock  %}

      {% block subtitulo %}<p class="text-center">Descubre mas sobre temas de interes</p>{% endblock  %}

      {% block contenido %}
      <div class="container-flui text-center">
        <p>Estamos felices de que estés aquí. Por favor, selecciona una opción del menú para comenzar y te guiaremos paso a paso.</p>
        
  </div>

      

        <p class="text-center">¡disfruta tu visita!</p>
        <div class="text-center">
          <img src="static/img/bienv.jpeg" alt="imagen de inicio" class="img-fluid rounded mx-auto d-block" >
        </div>
        
      </div>

      {% endblock %}