{% extends "base.html"%}
{% block titulo %} <h1>7 MARAVILLAS DEL MUNDO</h1> {% endblock  %}
{% block subtitulo %} <p class="text-center">Descubre más sobre estas impresionantes obras maestras de la humanidad</p> {% endblock  %}
{% block contenido%}
    <div class="container-fluid bg-success-subtle p-4 rounded">


<h3>🏛️ Las Siete Maravillas del Mundo Antiguo</h3>
    <p>Las Siete Maravillas del Mundo Antiguo son una lista de impresionantes estructuras arquitectónicas y artísticas
        que fueron consideradas las más destacadas de la antigüedad. Estas maravillas reflejan la creatividad, el ingenio
        y la habilidad técnica de las civilizaciones antiguas. A continuación, se describen brevemente cada una de
        ellas:</p>

    <h3>1. La Gran Pirámide de Giza (Egipto)</h3>
    <p>La Gran Pirámide de Giza es la única maravilla que aún perdura en la actualidad. Construida alrededor del año 2560
        a.C. como tumba para el faraón Keops, esta pirámide es un testimonio impresionante de la ingeniería egipcia.
        Originalmente, tenía una altura de 146 metros y estaba cubierta con bloques de piedra caliza pulida que reflejaban
        la luz del sol.</p>

    <h3>2. Los Jardines Colgantes de Babilonia (Irak)</h3>
    <p>Los Jardines Colgantes de Babilonia son descritos como una serie de terrazas ajardinadas que se elevaban en
        varios niveles, creando un oasis verde en medio del desierto. Aunque su existencia real es objeto de debate,
        se dice que fueron construidos por el rey Nabucodonosor II para su esposa Amytis, quien extrañaba las montañas y
        vegetación de su tierra natal.</p>

    <h3>3. La Estatua de Zeus en Olimpia (Grecia)</h3>
    <p>La Estatua de Zeus era una enorme escultura de oro y marfil que representaba al dios griego Zeus sentado en un
        trono. Creada por el escultor Fidias alrededor del año 435 a.C., esta estatua medía aproximadamente 12 metros
        de altura y estaba ubicada en el Templo de Zeus en Olimpia.</p>

    <h3>4. El Templo de Artemisa en Éfeso (Turquía)</h3>
    <p>El Templo de Artemisa era un majestuoso templo dedicado a la diosa Artemisa, construido alrededor del año 550 a.C.en Turquía, fue uno de los templos más grandes de la antigüedad, dedicado a la diosa Artemisa. Fue destruido y reconstruido varias veces, y destacaba por sus enormes columnas y esculturas de mármol.</p>
    <p>Para su construcción se utilizaron mármol y oro, y estaba adornado con numerosas esculturas y relieves.</p>

    <h3>5. El Mausoleo de Halicarnaso (Turquía)</h3>
    <p>El Mausoleo de Halicarnaso, también en Turquía, fue una monumental tumba para Mausolo, un gobernador persa. Su mezcla de estilos arquitectónicos griego y oriental lo convirtió en una obra única. De ahí proviene la palabra “mausoleo”.</p>

    <h3>6. El Coloso de Rodas (Grecia)</h3>
    <p>El Coloso de Rodas era una gigantesca estatua de bronce que representaba al dios Helios, construida para conmemorar la victoria de Rodas sobre Chipre. Se erigió en el puerto de la ciudad y se cree que medía alrededor de 33 metros de altura. </p>
    <p>Desafortunadamente, fue destruido por un terremoto en el año 226 a.C.</p>

    <h3>7. El Faro de Alejandría (Egipto)</h3>
    <p>El Faro de Alejandría, en Egipto, fue una de las estructuras más altas del mundo antiguo, con una altura estimada de 100 metros. Construido en la isla de Faros, servía como guía para los navegantes y estaba adornado con esculturas y relieves.</p>
    <p>Con más de 100 metros de altura, funcionó durante siglos hasta que los terremotos lo derribaron.</p>

    
    <p>Estas Siete Maravillas del Mundo Antiguo representan el ingenio y la creatividad de las civilizaciones antiguas, y aunque muchas de ellas ya no existen, su legado perdura en la historia y la cultura mundial.</p>

   </div>
{% endblock %}