<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <h1 class="tex-center"> ALGO MAS...</h1>
    <p>fue creada por melanie fernanda pedroza Infante  de 3-d </p>
    <p>en la unidad 2</p>
    <p>cetis 61</p>

        <p>Gracias por visitar esta página. Su interés y tiempo son muy valorados. Esperamos que la información aquí
        presentada haya sido de utilidad y cumpla con sus expectativas.

        Atentamente,
        Melanie Fernanda Pedroza Infante</p>

















    <footer class="text-center bg-warning-subtle mx-auto">
        <p>Derechos reservados © 2024</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>