{% extends 'base.html' %}
{% block contenido %}
{% block titulo %} {% endblock %}
{% block subtitulo %}{% endblock  %}
<div class="container bg-info-subtle mx-auto">
    <h2 class="text-center">Sobre la página y su creadora</h2>
   <h6>dia de creación: 15/06/2024</h6>
    <p>Esta página fue creada por melanie fernanda pedroza Infante  de 3-d,de la preparatoria cetis 61</p>
   
    <p>Espero que hayan disfrutado recorriendo las Siete Maravillas del Mundo, aprendiendo sobre animales exóticos, admirando carros impresionantes y descubriendo muchos otros temas interesantes.
Me alegra haber compartido este espacio con ustedes y ojalá se vayan con nuevas curiosidades y ganas de seguir explorando.
¡Hasta pronto y gracias por ser parte de esta aventura! 🌍✨</p>

        <p>Gracias por visitar esta página. Su interés y tiempo son muy valorados. Esperamos que la información aquí
        presentada haya sido de utilidad y cumpla con sus expectativas.

        Atentamente,
        Melanie Fernanda Pedroza Infante</p>


        <h3>sigue descubriendo</h3>
        <ul>
            <li><a href="https://share.google/HOnuOIhLffKnZD8Uc">Animales exóticos</a></li>
            <li><a href="https://share.google/qpc3EIk2IMUrO0omT">Vehículos antiguos</a></li>
            <li><a href="https://share.google/zEEglZAKUYxR2uJ7O">Las maravillas del mundo</a></li>
        </ul>

        
</div> 















{% endblock %}