{% extends 'base.html' %}
{% block titulo %}<h1>Sobre la página y su creadora</h1>{% endblock %}
{% block subtitulo %}<h6 class="text-center">dia de creación: 15/06/2024</h6>{% endblock %}
{% block contenido %}

<div class="container bg-success-subtle">


    <h6>Esta página fue creada por:</h6>
    <p>Melanie Fernanda Pedroza Infante de 3-D, de la preparatoria CETIS 61</p>

    <p>Espero que hayan disfrutado recorriendo las Siete Maravillas del Mundo, aprendiendo sobre animales exóticos, admirando carros impresionantes y descubriendo muchos otros temas interesantes.
Me alegra haber compartido este espacio con ustedes y ojalá se vayan con nuevas curiosidades y ganas de seguir explorando.
¡Hasta pronto y gracias por ser parte de esta aventura! 🌍✨</p>

        <p>Gracias por visitar esta página. Su interés y tiempo son muy valorados. Esperamos que la información aquí
        presentada haya sido de utilidad y cumpla con sus expectativas.

        Atentamente,
        Melanie Fernanda Pedroza Infante</p>


        <h3>sigue descubriendo</h3>
        <ul>
            <li><a href="https://share.google/HOnuOIhLffKnZD8Uc">Animales exóticos</a></li>
            <li><a href="https://share.google/qpc3EIk2IMUrO0omT">Vehículos antiguos</a></li>
            <li><a href="https://share.google/zEEglZAKUYxR2uJ7O">Las maravillas del mundo</a></li>
        </ul>

        
</div> 


{% endblock %}