{% extends "base.html"%}

{% block contenido%}
{% block titulo %} VEHICULOS EXOTICOS {% endblock  %}

    <h3>🏁 El nacimiento de los vehículos</h3>
    <p>El origen de los vehículos se remonta al siglo XIX, cuando el ser humano buscaba nuevas formas de transporte más
        rápidas y cómodas que los carruajes tirados por caballos. El primer paso fue la invención del motor de
        combustión interna, que permitió transformar la energía del combustible en movimiento.</p>
    <p>En 1886, el alemán Karl Benz construyó el primer automóvil de la historia, llamado Benz Patent-Motorwagen. Este
        vehículo tenía tres ruedas y funcionaba con gasolina. Poco después, inventores como Gottlieb Daimler y Henry
        Ford mejoraron el diseño, incorporando motores más potentes y sistemas de producción en masa, lo que hizo que
        los autos fueran más accesibles para la población.</p>
    <p>A lo largo del siglo XX, los automóviles evolucionaron rápidamente, volviéndose más veloces, seguros y
        cómodos,los vehículos evolucionaron para incluir características como la dirección asistida, los frenos
        hidráulicos y la suspensión independiente, mejorando la seguridad y el confort. Hoy en día, los autos no solo
        son medios de transporte, sino también símbolos de estatus y estilo de vida, con diseños innovadores y
        tecnologías avanzadas como la electrificación y la conducción autónoma.</p>
    <p>Surgieron marcas legendarias como Ford, Chevrolet, Mercedes-Benz, Volkswagen y Rolls-Royce, que dejaron una
        huella importante en la historia del transporte. Los vehículos antiguos no solo representan un medio de
        transporte, sino también una obra de ingeniería y arte que marcó el inicio de la modernidad.</p>

    <h3>1. Ford Model T (1908-1927)</h3>
    <p>El Ford Model T es uno de los automóviles más emblemáticos de la historia, conocido por haber sido el primer
        vehículo producido en masa en la historia de la industria automotriz. Henry Ford revolucionó la producción con
        la introducción de la línea de ensamblaje, lo que permitió bajar los costos y hacer accesible el automóvil a un
        mayor número de personas. Este modelo se fabricó en diversas variantes, incluyendo sedán, roadster y camioneta.
        Su motor de 20 caballos de fuerza le daba una velocidad máxima de 72 km/h. El Model T es reconocido como el
        "coche del pueblo" por su asequibilidad y robustez.</p>

    <h3>2. Chevrolet Corvette C1 (1953-1962)</h3>
    <p>El Chevrolet Corvette C1 es el primer modelo de la icónica serie de autos deportivos estadounidense. Lanzado en
        1953, el Corvette C1 destacó por su diseño elegante y su motor V8, el cual le daba una potencia de 150 caballos
        de fuerza. Aunque inicialmente no fue un éxito de ventas, rápidamente se convirtió en un símbolo del lujo y la
        velocidad en los Estados Unidos. El Corvette C1 fue el punto de partida de una larga tradición de autos
        deportivos y de alto rendimiento, siendo admirado por su estilo y su capacidad de capturar la esencia del
        "American Muscle Car".</p>
    <h3>3. Volkswagen Beetle (1938-2003)</h3>
    <p>El Volkswagen Beetle, también conocido como "Escarabajo", es uno de los autos más populares y producidos en la
        historia de la automoción. Originalmente diseñado por Ferdinand Porsche para ser un "coche del pueblo" en
        Alemania, el Beetle fue un vehículo accesible y confiable, con un motor trasero de cuatro cilindros. A pesar de
        sus modestos comienzos, su diseño sencillo y su durabilidad lo convirtieron en un ícono de la cultura
        automotriz. El Beetle pasó por varias actualizaciones a lo largo de los años, pero mantuvo su esencia a lo largo
        de más de seis décadas.</p>
    <h3>4. Jaguar E-Type (1961-1975)</h3>
    <p>El Jaguar E-Type es un clásico deportivo británico que, al ser lanzado en 1961, rápidamente se convirtió en un
        símbolo de elegancia y rendimiento. Con un diseño innovador y aerodinámico, el E-Type fue aclamado por su
        belleza y su rendimiento, alcanzando velocidades de hasta 240 km/h gracias a su motor de 3.8 litros y seis
        cilindros en línea. En su época, el E-Type fue considerado uno de los autos más rápidos y atractivos del mundo,
        y sigue siendo uno de los vehículos más deseados por los coleccionistas de autos clásicos.</p>
    <h3>5. Porsche 356 (1948-1965)</h3>
    <p>El Porsche 356 es el primer automóvil producido por Porsche, lanzado en 1948. Con su diseño sencillo pero
        atractivo, el 356 marcó el inicio de la historia de la marca alemana como fabricante de autos deportivos de alto
        rendimiento. Su motor trasero y su chasis liviano le otorgaron una gran agilidad y rendimiento, lo que lo
        convirtió en un modelo ideal para las competiciones. El Porsche 356 estuvo disponible en varias versiones,
        incluyendo coupé y cabriolet, y fue precursor de modelos más emblemáticos de la marca, como el Porsche 911.</p>
{% endblock %}
        
